.fade-in-loop {
  opacity: 0;
  animation: fadeInOut 6s infinite;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  30% {
    opacity: 1;
  }
  40%,
  60% {
    opacity: 0;
  }
  70%,
  90% {
    opacity: 1;
  }
}
